*{
	margin: 0;
	padding:0;
}
body{
	background-color: #eee !important;
	padding: 0 ;
	font-family:"Helvetica Neue","PingFang SC",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","\\5FAE\8F6F\96C5\9ED1",STHeiti,sans-serif;
	font-size: 14px;
}
.details-top.row{
	background: #f0f0f0;
	border-bottom: 1px solid #aaa;
	box-shadow: 1px 1px 3px #aaa; 
	padding-left: 380px;
    padding-right: 380px;
}
.details-top.row::before{
	content:"";
	display: table;
}
.font-12{
	font-size: 12px;
}
.details-top.row ul.list-unstyled.d-flex a:hover{
	font-weight:bolder;
	text-decoration-color: #000;
	text-decoration: none;
}
.container .F1-details-div{
	margin-top: 50px;
}
.container .F1-details-div::before{
	content: "";
	display: table;
}
.details-F2 .details-circle::before{
	content: "";
	display: table;
}
.details-F2 .s1::before{
	content: "";
	display: table;
}
.details-F2 .s1{
	width: 40px;
	height: 40px;
	background: #aaa;
	border-radius: 50%;
}
.details-F2 .s2::before{
	content: "";
	display: table;
}
.details-F2 .s2{
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 50%;
	margin-top: 3px;
	margin-left: 3px;
	
}
.details-F2 .s3{
	width: 30px;
	height: 30px;
	background: #000;
	border-radius: 50%;
	margin-top: 2px;
	margin-left: 2px;
}
.details-F2 .s4::before{
	content: "";
	display: table;
}
.details-F2 .s4{
	width: 40px;
	height: 40px;
	background: #aaa;
	border-radius: 50%;
}
.details-F2 .s5::before{
	content: "";
	display: table;
}
.details-F2 .s5{
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 50%;
	margin-top: 3px;
	margin-left: 3px;
	
}
.details-F2 .s6{
	width: 30px;
	height: 30px;
	background: #eee;
	border-radius: 50%;
	margin-top: 2px;
	margin-left: 2px;
}
.details-F2 .s7::before{
	content: "";
	display: table;
}
.details-F2 .s7{
	width: 40px;
	height: 40px;
	background: #aaa;
	border-radius: 50%;
}
.details-F2 .s8::before{
	content: "";
	display: table;
}
.details-F2 .s8{
	width: 34px;
	height: 34px;
	background: #fff;
	border-radius: 50%;
	margin-top: 3px;
	margin-left: 3px;
	
}
.details-F2 .s9{
	width: 30px;
	height: 30px;
	background: #002299;
	border-radius: 50%;
	margin-top: 2px;
	margin-left: 2px;
}
.details-F2{
	display: flex;
	align-items: center;
	border-bottom: 1px dashed #aaa;
}
.details-F2 .details-circle{
	margin-top:30px; 
	margin-bottom:30px; 
}
.ml-45{
	margin-left:45%;
}

.details-F3
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.ml-12{
	margin-left:19% !important;
}
.mb-mypx{
	margin-bottom: 30px !important;
}
.my_font{
	font-size: 25px;
}
ul.list-unstyled .my_p_m p{
	margin-bottom: 0;
}
ul.list-unstyled .my_p_m{
	margin-right: 30px;
}
ul.list-unstyled .my_p_m p:first-child{
	color:#000;
	margin-bottom:10px;
}
.ul.list-unstyled .my_p_m p:nth-child(2),
.ul.list-unstyled .my_p_m p:nth-child(3)
{
	color:#aaa;
}
.ul.list-unstyled .my_p_m p span{
	color: #222
}
img.my_img_w{
	width: 15%;
}
table th{
	border: 1px solid #aaa;
	padding:10px 0;
}
table td{
	border: 1px solid #aaa;
	padding:10px 10px;
}
.w-130{
	width: 130px;
}
.w-100-px{
	width: 100px;
}
.mr-20{
	margin-right:20% !important;
}

.ml-30{
	margin-left: 25%;
}

.F1-details-div h4{
	color: #f00;
}
.carousel-item {display:none;}
.carousel-item img{
	cursor: pointer;
}
.col-6.p-0 .details-F4{
	padding-top: 35px;
	padding-bottom: 35px;
	border-bottom:1px dashed #aaa;
}
.col-6.p-0 .details-F5{
	padding-top:35px;
	padding-bottom:35px;
	border-bottom:1px solid #ccc;
}
.col-6.p-0 .details-F5 input{
	width: 10% !important;
	cursor: text !important;
}
.col-6.p-0 .details-F5 button{
	width: 2rem !important;
	height: 2rem !important;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;

}
.col-6.p-0 .details-F5 button:hover{
	transform: scale(0.9)
}
input.btn-outline-light{
	background: none !important;
	color:#000 !important;
}
.mt-5b{
	margin-top:4%;
	background: #e1e1e1;
	padding:15px 0 15px 25px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.bg-F1,
.bg-F2
{
	/* border-bottom-right-radius: 8px; */
	border-radius: 8px;
	box-shadow: 0px 10px 15px #aaa;
}
.ml-19{
	margin-left:19% !important;
}
#banner-details{
	line-height: 524px;
}
#banner-details .mask{
	width: 237px;
	
	height: 237px;
	position: absolute;
	top:40px;
	left:40px;
	background-color: rgba(231, 252, 174,.3);
	z-index: 1112;
}
 .d-n{
	display: none;
}
#lgImg{
	position: absolute;
	left: 47%;
	top: 188px;
	width: 600px;
	height: 510px;
	overflow: hidden;
}
#lgImg>img{
	position: absolute;
	top:0px;
	left:0px;
	width: 1000px;
}


