*{
	margin: 0;
	padding:0;
}
body{
	background: #e1e1e1;
	padding: 0 ;
	font-family: "Helvetica Neue","PingFang SC",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","\\5FAE\8F6F\96C5\9ED1",STHeiti,sans-serif;
	font-size: 14px;
}
#mains{
    width: 1100px;
    margin:0 auto;
}
#banner{
    width: 1100px;
    overflow: hidden;
    position: relative;
}
#ul-imgs{
    width: 4400px;
   list-style: none;
}
#ul-imgs.transition{
    transition:all .5s linear;
}
#ul-imgs>li{
    width: 1100px;
    float: left;
}
#ul-imgs img{
    width: 1100px;
}
#ul-indxs{
    width: 100px;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    bottom:35px;
    left: 50%;
    margin-left:-50px; 
}
#ul-indxs>li{
    float: left;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#ul-indxs>li.active{
    background: blue;
}
#btn-left,
#btn-right{
    width: 60px;
    height: 100px;
    position: absolute;
    top:50%;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
}
#btn-left{
    left:20px;
    background-image: url("../img/left_ar.png");
}
#btn-right{
    right: 20px;
    background-image: url("../img/right_ar.png");
}
#btn-left:hover,#btn-right:hover{
    background-size: 40px 70px;
}


    /* #banner .carousel-inner{
        border-radius: 8px !important;
        box-shadow:0px 10px 15px #aaa;
    } 
    #banner .carousel-control-prev,
    #banner .carousel-control-next{
        width: 30px;
        height: 30px;
        top:40%;
        background: #aaa;
        border-radius: 50%;
    }
    #banner ul.carousel-indicators li{
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        margin-right:6px;
        margin-left: 6px;
        background: #aaa;
    }
    #banner ul.carousel-indicators .active{
        background:rgb(13, 136, 252);
    } */
    /*楼层row*/
    .title-div{
        background: #eee;
        border:0px solid #ccc;
        border-top-left-radius: 10px;
    }
    .title-div.b-t-r-r{
        border-top-right-radius: 10px;
    }
    .title-div .carousel-control-prev.shop-banner-ico-prev{
        top:20px;
        left:60px;
        width: 1.5rem;
        height: 1.5rem;
    }
    .title-div .carousel-control-next.shop-banner-ico-next{
        top:20px;
        right:60px;
        width: 1.5rem;
        height: 1.5rem;
    }
    .carousel-control-next-icon.shop-banner-ico-span{
        width: 1rem;
        height: 1rem;
    }
    .text-black{
        color:#000;
    }
    .F1-price{
        color:#e22222;
        font-size: 20px;
    }
    #shop-banner-div .col-3{
        border: 1px solid #ccc !important;
    }
   .col-3{
        border: 1px solid #ccc !important;
    }
    #shop-banner-div img{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    a:hover{
        text-decoration: none;
    }
    .btn-gray{
        background: #ccc;
    }
    #F6 .F6-div{
        margin-top: 10px;
        height: 50%;
    }
    /* img{
        transition:transform 1s linear;
    } */
    
    #F2 .col-3.p-0,
    #F3 .col-3.p-0,
    #F4 .col-3.p-0,
    #F5 .col-3.p-0,
    #shop-banner .col-3.p-0{
    padding-top:20px !important; 
    }
    #F2 .col-3.p-0:hover,
    #F3 .col-3.p-0:hover,
    #F4 .col-3.p-0:hover,
    #F5 .col-3.p-0:hover,
    #shop-banner .col-3.p-0:hover{
        box-shadow:-8px -8px 15px  #ddd inset,8px 8px 15px  #ddd inset;
        transition: all 0.3s;
        /* -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-name: rubberBand;
        animation-name: rubberBand; */
        /* -webkit-animation-name: rubberBand;
  animation-name: rubberBand; */
    }
    #F2 div,
    #F3 div,
    #F4 div,
    #F5 div{
        overflow: hidden;
    }
    #banner{
        transition: all 2s;
    }
    
    #shop-banner,
    #F2,
    #F3,
    #F4,
    #F5,
    #F6
    {
        box-shadow:0px 10px 15px #aaa;
    }
    #shop-banner-div a button{
        display: none;
        position:relative;
    }
    #shop-banner-div:hover a button{
        display: block;
    }
   
    #top{
        position: absolute;
        text-align: center;
        right:260px; 
 
        cursor: pointer;
        background: #e1e1e1;
        border: 1px solid #aaa;
        border-radius: 8px;
        bottom: 290px;
        
        
    }
    #top>img{
        width: 40px;
        cursor: pointer;
        margin: 0;
    }
