.breadcrumb-item + .breadcrumb-item::before {
    content:"·";
}
.breadcrumb .active{
    color:rgb(13, 136, 252) !important;
}
.rounder-6{
    border-radius: 6px;
}
.F1-price{
    color:#e22222;
    font-size: 20px;
}