body{
	text-align:center;
	background-image: url("../img/reg-bg3.png");
	background-repeat:repeat;
	
/*	background-size:100%;*/
}
.div-locating{
	position: relative;
	
}
.ico{
	position: relative;
	top:30px;
	width:30px;
}
a .ico{
	position: relative;
	top:0px;
	width:30px;
}
.ico.ico-phone{
	width:25px;
	margin-right:5px;
}
.div-border{
	border:1px solid #fff;
	background-color:#a4c3be;
	background-image:linear-gradient(to bottom,#666 0%,#aaa 25%,#ddd 100%);
	width:600px;
/*	height:550px;*/
	position: absolute;
	left:35%;
	top:100px;
	border-radius:6%;
	box-shadow:2px 9px 35px 0px #333;
	
}

button{
	width:400px;
	height:40px;
	background-color:#a4c3be;
	position: relative;
	top:20px;
	left:15px;
	margin-top:10px;
	border-radius:10px ;
	outline:none;
}
.div-box{
	position: relative;
	top:15px;
	right:15px;
	margin-top:15px;
	margin-bottom:20px;	
	font-family:"宋体";
}
.input{
	position: relative;
	top:20px;
	margin-top:20px;
	margin-bottom:20px;
	width:400px;
	height:45px;
	border-radius:10px;
	box-sizing:border-box;
	padding:0 0 0 15px; 
	outline:none;
}
ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.div-end{
	position: relative;
	top:50px;
	font-family:"宋体";
}
.div-first{
	position: relative;
	top:10px;
	font-style: italic;
	font-size:30px;
	text-shadow:3px 3px 3px #fff;
}
hr{
	position: relative;
	top:40px;
	margin-top:20px;
}
.div-endend{
	position: relative;
	top:100px;
	font-family:"宋体";
	font-size:10px;
	margin-bottom:30px;
}
.div-logo img{
	text-align:center;
	width:250px;
}
.div-elselogin{
	position: relative;
	top:50px;
	font-family:"宋体";
	font-size:12px;
	margin-left:20px;
	margin-right:20px;
}
.div-elselogin a img{
	width:20px;
	margin-left:10px;
	margin-right:10px;
}
.div-box-reg{
	position: relative;
	top:20px;
	right:25px;
	margin-top:10px;
	margin-right:-20px;
	font-family:"宋体";
}
.div-box-reg a{
	margin-left:10px;
	position: relative;
	left:60px;
}
.div-hr{
	position: relative;
	top:-15px;
}
a{
	text-decoration:none;
}
span.msg{
	display: block;
	position: absolute;

	z-index: 100;
}
.position-relative span img{
	width: 25px;
}
